.main-con{
    height:80%;
    padding: 20px 0px 0 35px;
    box-sizing: border-box;
}
.main-banner-con{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-bottom:20px;
    /* background-color: red; */
}

.main-cards-con{
    display: flex;
    flex-wrap: wrap;
    width: 91.5%;
    justify-content: space-between;
}