.button-con {
  display: flex;
  justify-content: space-around;
  background: #713bdb;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  width: 70%;
  height: 35px;
  align-items: center;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
}

.button-con p {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #fffbfb;
}
